.test {background:url(//cdn.net/images/b64Digest/spacer.gif)}
.test {background:url(//cdn.net/images/b64Digest/spacer.gif);}
.test {background: url(//cdn.net/images/b64Digest/spacer.gif)}
.test {background: url('//cdn.net/images/b64Digest/spacer.gif')}
.test {background: url("//cdn.net/images/b64Digest/spacer.gif")}

/* Leave external references as is */
.test {background: url(http://othersite.com/pic.png)}
.test {background: url(https://othersite.com/pic.png)}

/* Leave data-uri references as is */
.test {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIyOCAxODgiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTcxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3MmYzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjI4IiBoZWlnaHQ9IjE4OCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+)}

.test {
  background:url(//cdn.net/images/b64Digest/spacer.gif)
}

.test {
  background:   url(//cdn.net/images/b64Digest/spacer.gif);
}